books-details-page {
  font-family: $primary-font-stack;
  .card-title {
    font-family: $secondary-font-stack;
  }

  .card-footer ion-col, .card-footer ion-col button, .card-button {
    color: $primary-color;
  }

  .card-button {
    border: 2px solid $primary-color;
  }

  .card-button:active {
    background: rgba(224, 188, 117, 0.1);
  }
}
