page-home {

  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }

  #content {
    background: rgba(0, 0, 0, 0.25);
    color: white;
    padding: 10px;
    font-size: $h6-font-size;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .content-image {
    float: left;
  }

  .content-inner {
    padding: 1em;
    text-align: justify;
  }

  .title {
    font-size: $title-font-size;
  }

  .sub-title {
    font-size: $h2-font-size;
  }

  .content-body {
    padding: 2em 0;
  }

  .content-body-header {
    font-size: $h4-font-size;
    font-weight: 700;
  }

  .content-footer {
    color: $primary-color;
    bottom: 0;
    right: 1em;
    position: absolute;
    font-weight: 700;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .sub-title, .selected-text, .content-footer {
    font-family: $secondary-font-stack;
  }

  .sub-title, .selected-text {
    text-shadow: $text-shadow-stack;
  }
}
